.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.input-section {
  color: 777;
}
.word-section {
  border: 1px solid #ddd;
  text-align: left;
  color: #777;
  padding: 1.5em;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.word-correct {
  background-color: #08ccab;
}
.word-incorrect {
  background-color: red;
}
.timer-section,
.result-section {
  color: #08ccab;
}

input {
  max-width: 50em;
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
